<!DOCTYPE html>
<html lang="en">
<head>
    <title>小站</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='dash_board.css') }}" rel="stylesheet">
</head>

<body>
	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-2">
	           		<div class="logo">
	                 	 <h1>小站</h1>
	              	</div>
	           </div>
	           <div class="col-md-8"></div>
	           <div class="col-md-2">
	           	    <a href="{{ url_for('logout') }}"><i class="fas fa-door-open"></i>退出</a>
	           </div>			           
	        </div>
	     </div>
	</div>

	<div class="container">
		<h1>Dashboard</h1>
	</div>
    
</body>

</html>